USE [SpotOn_DB]
GO
/****** Object:  Table [dbo].[User_Images]    Script Date: 3/22/2013 11:06:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User_Images](
	[UserID] [int] NOT NULL,
	[Image_Path] [varchar](max) NULL,
 CONSTRAINT [PKI_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[User_Images]  WITH CHECK ADD  CONSTRAINT [FK_UserImagesTbl_Business] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[User_Images] CHECK CONSTRAINT [FK_UserImagesTbl_Business]
GO
