<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>Spoton.Server.Web.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBusinessList</servlet-name>
        <servlet-class>Spoton.Server.Web.Get_Business_List_By_User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Get_BusinessInfo</servlet-name>
        <servlet-class>Spoton.Server.Web.Get_BusinessInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_CheckIn</servlet-name>
        <servlet-class>Spoton.Server.Web.User_CheckIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutUser</servlet-name>
        <servlet-class>Spoton.Server.Web.User_CheckOut</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBusinessList</servlet-name>
        <url-pattern>/GetBusinessList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Get_BusinessInfo</servlet-name>
        <url-pattern>/Get_BusinessInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_CheckIn</servlet-name>
        <url-pattern>/User_CheckIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutUser</servlet-name>
        <url-pattern>/CheckOutUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
